body { background: #111116; overflow-x: hidden;}
header { margin-top: 30px; }
header a { color: white; text-decoration: none; }
header p { color: white; font-size: 15pt; text-align: center;}
header a:hover { text-decoration: none; }
form { margin-top: 20px; }
form, #results { padding: 0 20px; }
.item { margin-bottom: 25px; }
.w100 { width: 100%; }


button1 .comment { display: none; }
button1:hover .replies { display: none; }
button1:hover .comment { display: inline; }

* {
  box-sizing: border-box;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 85%;
  background: #f1f1f1;
}
#example2 {
  padding: 10px;
  border-radius: 15px 50px;
  position: fixed;
  top:2vw;
  left:2vw;
  color:white;
  font-size:17pt;
  background-color: #ff0000;
}
mark.red {
    color:#ff0000;
    background: none;
}

form.example button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #F8F8F8;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #EDEDED;
  font-weight:bold;
}
.btn-primary { background: #4FA881; border-color: #4FA881; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: #782b2b;  border-color: #952b2b; }
/*#375980*/